* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ui-view {
    width: 100%;
    height: 100%;
}

.video {
    margin: auto;
    width: 100%;
    height: 100vh;
    margin-bottom: -1%;
    background: black;
    background-position: center;
    background-size: cover;
}

.video > video {
    width: 100%;
}

.homeTitleBox {
    position: absolute;
    background-color: rgba(2,2,2, .5);
    color: #f9f9f9;
    padding-left: 5%;
    padding-right: 5%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-family: "Cabin Sketch";
    font-size: 10em;
    text-shadow: 2px 2px rgb(24, 24, 23);
}

.homeTitleBox p {
    margin-top: 11%;
    margin-bottom: 11%;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    transition: color .5s ease;
}

.homeTitleBox p:hover {
    color: rgb(98, 35, 176);

}

.navBox {
    width: 100%;
    height: 5%;
    padding-top: 1%;
    background: linear-gradient(to top, #000000, #636161);
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: space-around;
}

.navBox > div {
    position: relative;
    top: 50%;
    display: inline-block;
    height: 100%;
    transform: translateY(-50%);
}


.navBox > div:nth-child(1) {
    vertical-align: top;
    padding-left: 2%;
}

/* class to hide button for active page*/
.selected {
    display: none;
}

.social {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-65%);
    transition: color .5s ease;
}

.social:hover {
    color: rgb(98, 35, 176);
}

#subscribe {
    position: relative;
    top: 39%;
    transform: translateY(-50%);
}

#subscribe > input {
    font-family: "Annie Use Your Telescope";
    text-align: center;
    font-size: 100%;
}

.header {
    width: 100%;
    background: linear-gradient(to top, #000000, #636161);
    position: absolute;
    display: flex;
}

.header p {
    font-family: 'Cabin Sketch';
    font-size: 5em;
    color: white;
    padding-left: 2%;
    transition: color .5s ease;
}

.header p:hover {
    color: rgb(98, 35, 176);
}

.innerImageContainer {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 9%;
    border: 1px solid rgba(113, 113, 113, 0.5);
}

.innerImageContainer:hover {
    cursor: zoom-in;
}

.modalImage {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb (0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalImage:hover {
    cursor: zoom-out;
}

.contentContainer {
    width: 100%;
    height: 100%;
    background: url('img/moab.jpg');
    background-size: cover;
}

.innerTextContainer {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Annie Use Your Telescope';
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    color: black;
    border: 1px solid rgba(113, 113, 113, 0.5);
}

@media (max-width: 1174px){
    .innerImageContainer {
        margin-top: 10%;
    }
    .innerMapContainer {
        /*padding-top: 10%;*/
    }
    .innerTextContainer {
        font-size: 1.5em;
    }
}

.text {
    padding: 2px 5px 2px 5px;
}

.innerMapContainer {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    padding-top: 9%;
}

.map {
    width: 100%;
    height: 100%;
}

#loading {
    position: fixed;
    width: 50%;
    text-align: center;
    font-family: 'Annie Use Your Telescope';
    font-size: 3em;
    top: 35%;
}

/*============================================================================*/
/*Full page video dissapears below 1313px*/
@media (min-height: 846px) {
    .video > video {
        display: none;
    }
    .video {
        height: 100%;
        width: 100%;
        background: url('img/driving.JPG') no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 1400px) {
    .video > video {
        display: none;
    }
    .video {
        height: 100%;
        width: 100%;
        background: url('img/driving.JPG') no-repeat;
        background-position: center;
        background-size: cover;
    }
}
